body {
    height: 100%;
    width: 100%;
    background-color: #35506c;
    position: absolute;
}

h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#back {
    height: 25px;
    padding-top: 15px;
    padding-left: 15px;
}

h3 {
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

a {
    color: white;
    text-decoration: none;
}

p {
    color: white;
}

#submit2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type=button], input[type=submit] {
    background-color: #35506c;
    border: 2px solid white;
    padding: 14px 18px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: white;
    color: black;
}

input[type=text], input[type=email] {
    width: 35%;
    padding: 12px 12px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}