h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px 18px;
    width: 30%;
    text-align: center;
    font-size: 20px;
}

h1:hover {
    background-color: white;
    color: black;
}

form {
    text-align: center;
    padding-bottom: 30px;
}

input[type=button], input[type=submit] {
    background-color: #35506c;
    border: 2px solid white;
    padding: 14px 18px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: white;
    color: black;
}

input[type=text], input[type=email] {
    width: 35%;
    padding: 12px 12px;
    border: 2px solid #2A2B69;
    border-radius: 5px;
    background-color: white;
}

body {
    height: 100%;
    width: 100%;
    background-color: #35506c;
    position: absolute;
}

.row {
    display: flex;
}

.column {
    float: left;
    width: 26.66%;
    display: block;
    margin-right: 0;
    margin-left: auto;
    margin-top: 55px;
    height: 150px;
    text-align: center;
}

.column2 {
    float: left;
    width: 26.66%;
    display: block;
    margin-right: auto;
    margin-left: 0;
    margin-top: 55px;
    height: 150px;
    text-align: center;
}